/* 
    Document   : styles
    Created on : 22 janv. 2013, 15:17:45
    Author     : Hugo
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-image: url('../imgs/background-768.png');
}

#menu{
    margin: 10px 10px 10px 27%;
}

.btn_menu{
    padding: 7px 12px 8px;
    margin-right: 10%;
}

/*  
*
*  FILE MENU
*                               */

#file_menu{
    margin: 10px 30px 10px 30px;
    padding: 10px 10px 10px 10px;
}

#file_container{
    margin: 0px 30px 10px 60px;
}

.playlist_container{
    margin: 10px 30px 10px 60px;
}

.btn_specific{
    padding: 5px 10px 6px;
    margin: 0 0 0 40%;
}

/*  
*
*  REMOTE MENU
*                               */

#remote_bar{
    float: right;
    margin: 10px 35% 10px 10px;
    width: 200px;
    height: 50px;
}