/* 
    Document   : styles
    Created on : 22 janv. 2013, 15:17:45
    Author     : Hugo
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-color: white;
    background-image: url('../imgs/background-1024.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
}

#menu{
    margin: 10px 10px 10px 30%;
}

.btn_menu{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: scroll 0 0 #222222;
    border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 5px 5px 5px 5px;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 7px 12px 8px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    margin-right: 15%;
}

.btn_menu:hover{
    background-color: #555555;
    color: #FFFFFF;
}

.btn_menu:active{
    top: 1px;
}
.btn_menu.active{
    background-color: #555555;
    color: #FFFFFF;
}

/*  
*
*  FILE MENU
*                               */

#file_menu{
    border: solid black 1px;
    float: left;
    width: 90%;
    margin: 10px 0px 10px 45px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(34,34,34,0.5);
}

#file_container{
    border:2px solid #ccc;
    margin: 30px 30px 0px 60px;
    width:85%;
    float: left;
    height: 235px;
    overflow: hidden;
}

.playlist_container{
    display: none;
    border:2px solid #ccc;
    margin-bottom: 2%;
    width:85%;
    float: left;
    height: 215px;
    overflow: hidden;
    margin: 20px 30px 10px 60px;
}

.list_container{
    border: none;
    width:100%;
    float: left;
    height: 150px;
    overflow-y: auto;
}

.playlist_container>.list_container{
    border: none;
    width:100%;
    float: left;
    height: 153px;
    overflow-y: auto;
}

table.list{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    border-spacing: 0px;
    border-collapse: collapse;
    cursor: default;
}

table.list tr>td.cell_name{
    width: 100%;
    padding-left: 10px;
}

table.list tr:hover{
    background-color: rgba(188,17,66, 0.5);
}

table.head{
    font-family: Nyala;
    font-size: 1.2em;
    margin: 0 0 0 0;
    border-spacing: 0px;
    border-collapse: collapse; 
}

table.head>thead>tr>th{
    background-color: rgba(255,255,255,0.6);
    width: 1024px;
    text-align: center;
}
table.head>thead>tr>th>input{
    z-index: 1;
    float: right;
    margin-left: -10%;
    padding: 1px 3px 1px;
}

.btn_play{
    cursor: pointer;
    border: none;
    background: url('../imgs/btn_play.png') no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.btn_watchPhoto{
    cursor: pointer;
    border: none;
    background: url('../imgs/btn_watchPhoto.png') no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.btn_addplaylist{
    cursor: pointer;
    border: none;
    background: url('../imgs/btn_addplaylist.png') no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.btn_del{
    cursor: pointer;
    border: none;
    background: url('../imgs/btn_del.png') no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}
.btn_up{
    cursor: pointer;
    border: none;
    background: url('../imgs/btn_up.png') no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}
.btn_down{
    cursor: pointer;
    border: none;
    background: url('../imgs/btn_down.png') no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.btn_specific{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: scroll 0 0 #222222;
    border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 5px 5px 5px 5px;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px 6px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    margin: 0 0 0 45%;
}

.btn_specific:hover{
    background-color: #555555;
    color: #FFFFFF;
}

.btn_specific:active{
    top: 1px;
}
div.form_specific{
    float: left;
    height: 35px;
    width: 100%;
}

#btn_playAll, .btn_listnormal{
    float: left;
}

#btn_shuffleAll, .btn_listshuffle{
    float: right;
}

#btn_shuffleAll input, #btn_playAll input, .btn_listshuffle input, .btn_listnormal input{
    top: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

#tip{
    display: none;
    position: absolute;
    background: black;
    color: white;
    padding: 5px;
    font-size: 10pt;
    z-index: 1;
}

#switchR{
    clear: both;
    float: right;
    margin: 0px 0px 0px 0px;
}

#btn_switchR{
    cursor: pointer;
    border: none;
    background: url('../imgs/btn_switchR.png') no-repeat;
    width: 48px;
    height: 48px;
    display: block;
}

#q{
    border: 1px solid #AAAAAA;
    border-radius: 7px 7px 7px 7px;
    width: 20%;
}

#btn_import{
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#importField{
    float: left;
    margin-left: 0%;
    font-style: italic;
    border: 1px solid #AAAAAA;
    border-radius: 7px 7px 7px 7px;
    width: 20%;
}

#btn_yt{
    float: left;
    margin-left: 0.5%;
}

#ytField{
    float: left;
    margin-left: 0.5%;
    font-style: italic;
    border: 1px solid #AAAAAA;
    border-radius: 7px 7px 7px 7px;
    width: 20%;
}

#btn_back{
    float: left;
    margin-left: 0%;
    cursor: pointer;
    border: none;
    background: url('../imgs/btn_back.png') no-repeat;
    width: 24px;
    height: 24px;
    display: none;
}
.separator{
    float: left;
    margin-right: 0.5%;
    margin-left: 0.5%;
    display: none;
    font-weight: normal;
}

.directory_icon{
    background: url('../imgs/directory_icon.png') no-repeat;
    width: 24px;
    height: 24px;
    display: block;
}

.video_icon{
    background: url('../imgs/movie_icon.png') no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    display: block;
}

.image_icon{
    background: url('../imgs/image_icon.png') no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    margin-top: 2px;
    display: block;
}
.music_icon{
    background: url('../imgs/music_icon.png') no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    display: block;
}

/*  
*
*  REMOTE MENU
*                               */

#remote_menu{
    display: none;
    border: solid black 1px;
    float: right;
    width: 90%;
    margin: 10px 10px 10px 0px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(34,34,34,0.5);
}

#switchL{
    float: left;
    margin: 0px 0px 0px 0px;
}

#btn_switchL{
    cursor: pointer;
    border: none;
    background: url('../imgs/btn_switchL.png') no-repeat;
    width: 48px;
    height: 48px;
    display: block;
}

#remote_menu>.playlist_container{
    display: block;
    border:2px solid #ccc;
    width:80%;
    float: right;
    height: 180px;
    overflow-y: hidden;
}

#remote_menu>.playlist_container>.list_container{
    border: none;
    width:100%;
    float: left;
    height: 160px;
    overflow-y: auto;
}

#remote_menu>.playlist_container>.list_container>table.list>tbody>tr>td{
    width: 1024px;
}

#remote_bar{
    float: right;
    margin: 10px 40% 10px 10px;
    width: 200px;
    height: 50px;
}

#remoteBtn_playpause{
    cursor: pointer;
    float: left;
    border: none;
    background: url('../imgs/remoteBtn_play.png') no-repeat;
    width: 48px;
    height: 48px;
    display: inline;
}

#remoteBtn_previous{
    cursor: pointer;
    float: left;
    border: none;
    background: url('../imgs/remoteBtn_previous.png') no-repeat;
    width: 48px;
    height: 48px;
    display: inline;
}

#remoteBtn_next{
    cursor: pointer;
    border: none;
    background: url('../imgs/remoteBtn_next.png') no-repeat;
    width: 48px;
    height: 48px;
    display: inline;
}

#remoteBtn_stop{
    cursor: pointer;
    border: none;
    background: url('../imgs/remoteBtn_stop.png') no-repeat;
    width: 48px;
    height: 48px;
    display: inline;
}