/* 
    Document   : styles
    Created on : 22 janv. 2013, 15:17:45
    Author     : Hugo
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-image: url('../imgs/background-320.png');
    background-position: left top;
    height: 300px;
}

#menu{
    margin: 10px 60% 0px 40%;
}

.btn_menu{
    font-size: 0.6em;
    padding: 3px 8px 4px;
    margin-right: 2%;
}

/*  
*
*  FILE MENU
*                               */

#file_menu{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 0px;
}

#file_container{
    margin-bottom: 2%;
    margin-left: 20px;
    height: 218px;
}

.playlist_container{
    margin-bottom: 2%;
    margin-left: 20px;
    height: 207px;
}

.list_container{
    height: 155px;
}

.playlist_container>.list_container{
    height: 158px;
}

table.list>tbody>tr{
    font-size: 0.8em;
}

table.head>thead>tr>th{
    font-size: 0.8em;
    text-align: center;
}
table.head>thead>tr>th>input{
    z-index: 1;
    float: right;
    margin-right: 0%;
    padding: 1px 3px 1px;
}

.btn_specific{
    font-size: 0.5em;
    padding: 2px 3px 3px 2px;
    margin: 0 0 0 30%;
}

#btn_switchR{
    background: url('../imgs/btn_switchR-320.png') no-repeat;
    width: 24px;
    height: 24px;
}

#btn_shuffleAll input{
    top: 1px;
    margin-left: 10%;
    margin-right: 10%;
}

#btn_import, #importField{
    display: none;
}

#ytField{
    font-size: 0.6em;
    margin-left: 0.5%;
}
.separator{
    font-size: 0.8em;
}

#btn_back{
    background-image: url("../imgs/btn_back-320.png");
    margin-right: 0%;
}

/*  
*
*  REMOTE MENU
*                               */

#btn_switchL{
    background: url('../imgs/btn_switchL-320.png') no-repeat;
    width: 24px;
    height: 24px;
}

#remote_bar{
    margin: 10px 15% 10px 30%;
}
