/* 
    Document   : styles
    Created on : 22 janv. 2013, 15:17:45
    Author     : Hugo
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-image: url('../imgs/background-768.png');
}

#menu{
    margin: 10px 10px 10px 20%;
}

.btn_menu{
    padding: 7px 12px 8px;
    margin-right: 11%;
}

/*  
*
*  FILE MENU
*                               */

#file_menu{
    margin: 10px 0px 10px 20px;
    padding: 0px 5px 0px 0px;
}

#file_container{
    margin: 0px 30px 10px 30px;
}

.playlist_container{
    height: 160px;
    margin: 0px 30px 10px 30px;
}

.list_container{
    height: 150px;
}

.playlist_container>.list_container{
    height: 100px;
}

.btn_specific{
    padding: 5px 10px 6px;
    margin: 0 0 0 40%;
}

#q, #importField{
    font-size: 0.6em;
}

/*  
*
*  REMOTE MENU
*                               */

#remote_bar{
    float: right;
    margin: 10px 30% 10px 10px;
    width: 200px;
    height: 50px;
}